<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Error en cliente</h1>
        <h2>El cliente tiene pedidos asociados</h2>
         <div>
            <a th:href="@{/clientes}" class="btn btn-secondary">volver</a>
        </div>
    </div>
</body>
</html>